/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}





h1 , h2 , h3 {
color: #1C6698;
}

/***************************** MENU MGH STYLE **************************/

.navbar-dark .navbar-nav .nav-link {

    color : white;
    background-color: #1c6698;
    border: 2px solid #1c6698;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    width: 125px;

}

.navbar-dark .navbar-nav .nav-link:hover, .nav-link:focus{
    color:orange;
}


/********** Logo *********/

a.logo img{
    margin-bottom: -50px;
}


.body-warper{
    padding-top: 39px;
}

.top-space{
    padding-top: 50px;
}


/*******    CUSTOM SLIDER   ******/


.padding-slider-0{
    padding-top: 5%;
}

.padding-slider-1{
    padding-top: 10%;
}

.padding-slider-2{
    padding-top: 15%;
}

.padding-slider-3{
    padding-top: 200px;
}

.padding-slider-4{
    padding-top: 250px;
}

.padding-slider-5{
    padding-top: 300px;
}

.padding-slider-6{
    padding-top: 350px;
}

.padding-slider-7{
    padding-top: 400px;
}



/************* SIZE OF TITLE ***************/

.txt-s1{

    font-size: 15px;
}

.txt-s2{

    font-size: 18px;
}



.txt-s3{

    font-size: 20px;
}

.txt-s4{

    font-size: 25px;
}


.txt-x0{

    font-size: 30px;
}



.txt-x2{

    font-size: 35px;
}
.txt-x3{

    font-size: 40px;
}

.txt-x4{

    font-size: 45px;
}


.txt-x5{

    font-size: 50px;
}


.txt-x6{

    font-size:  55px;
}

.txt-x7{

    font-size: 60px;
}


.txt-x8{

    font-size: 65px;
}


.txt-x9{

    font-size: 70px;
}


.txt-x10{

    font-size: 75px;
}

.text-white{

    color:white;
}

.bg-light-grey{
    background-color: #dedede;
}


.slide-title{
    color: #8e3b73;
}

.slide4-title{
    color: #9f2d17;
}


